<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create your forms</title>
</head>
<body>
<h1>Create your forms</h1>
<form action="/createForm"  method="POST">
  <label for="name">Form Name:</label>
  <input id="name" name="name">
    <br>
 <label for="text">Choose number of text boxes:</label>
 <select id="text" name="text">
     <option value="1">1</option>
     <option value="2">2</option>
     <option value="3">3</option>
     <option value="4">4</option>
 </select>
<br>
<br>
<label for="textarea">Choose number of text area:</label>
<select id="textarea" name="textarea">
    <option value="1">1</option>
    <option value="2">2</option>
    <option value="3">3</option>
    <option value="4">4</option>
</select>
<br>
<br>
<label for="checkbox">Choose number of check boxes:</label>
<select id="checkbox" name="checkbox">
    <option value="1">1</option>
    <option value="2">2</option>
    <option value="3">3</option>
    <option value="4">4</option>
</select>

<br>
<br>
<label for="radiobutton">Choose number of radio buttons</label>
<select id="radiobutton" name="radiobutton">
    <option value="1">1</option>
    <option value="2">2</option>
    <option value="3">3</option>
    <option value="4">4</option>
</select>
<br>
<br>
<label for="dropdown">Choose number of dropdown list</label>
<select id="dropdown" name="dropdown">
    <option value="1">1</option>
    <option value="2">2</option>
    <option value="3">3</option>
    <option value="4">4</option>
</select>

<br>
<br>
<label for="datepicker">Choose number of datepicker</label>
<select id="datepicker" name="datepicker">
    <option value="1">1</option>
    <option value="2">2</option>
    <option value="3">3</option>
    <option value="4">4</option>
</select>
<br>
<br>
<input type="submit" value="Submit">
</form>
</body>
</html>